.sidebarChannel:hover > h4 {
  color: white;
  background-color: #303030;
}

.sidebarChannel > h4 {
  display: flex;
  padding-left: 15px;
  align-items: center;
  background-color: #303030;
  color: #fff;
  cursor: pointer;
}

.sidebarChannel__hash {
  font-size: 30px;
  padding: 8px;
}
